#First{
    font-size:24px ;
    color: greenyellow;
    text-align: center;
    border: 12px;
}
#Second{
    font-size:36px ;
    color: lime;
    text-align: center;
    border: 2px;
}
#Third{
    font-size:48px ;
    color: rgb(255, 0, 0);
    text-align: center;
    border: 2px;
}
.name{
    font-weight: bold;
}